{% extends "main_app/base/base_main.html" %}

{% load static %}

{% block title %}Dashboard - Admin - EVO{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main_css.css' %}">
{% endblock css %}

{% block content %}
{% csrf_token %}

<div class="container-fluid">
    <div class="row">

        <!-- aside bar -->
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center mt-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link py-3 px-2" title="Главная страница" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-home.svg' %}" width="30px"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="Бухгалтерия" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-money-bag.svg' %}" width="30px"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="Отдел редакции" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-edit-department.svg' %}" width="30px"/>
                        </a>
                    </li>

                    <div class="dropdown-divider-horizontal"></div>

                    <li class="nav-item">
                        <a href="{% url 'chat_page' %}" class="nav-link py-3 px-2" title="Общение с коллегами" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-chat.svg' %}" width="30px"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#"class="nav-link py-3 px-2" title="Каналы предприятия" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-channels.svg' %}" width="30px"/>
                        </a>
                    </li>

                    <div class="dropdown-divider-horizontal"></div>

                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="Мониторинг серверов" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-server.svg' %}" width="30px"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="Система логирования" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-log-system.svg' %}" width="30px"/>
                        </a>
                    </li>

                    <div class="dropdown-divider-horizontal"></div>

                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="Файловое хранилище" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-cloud-file.svg' %}" width="30px"/>
                        </a>
                    </li>

                    <div class="dropdown-divider-horizontal"></div>

                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="Настройки" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-settings.svg' %}" width="30px"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link py-3 px-2" title="Выйти из аккаунта" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-exit.svg' %}" width="30px"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-sm p-0 min-vh-100">
            <!-- header main -->
            <div class="container-fluid shadow shadow-sm p-1 main-title">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-start align-items-center mx-4">
                            <img src="{% static 'image/svg/icon-plain.svg' %}" width="55px" />
                            <div class="text-start mx-3 mt-3">
                                <h5 class="mt-0 mb-0">Аналитическая панель мониторинга</h5>
                                <p class="text-muted">Данная панель поможет Вам следить за ключевыми метриками и тенденциями вашего бизнеса</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <main class="mt-4">
                <!-- first section -->
                <div class="container-fluid mb-2">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-sm-12 col-lg-6 mb-2" >
                            <div id="chat-app" class="card animate__animated animate__slideInLeft" style="min-height: 500px;">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="{% static 'image/svg/icon-chat.svg' %}" class="me-2" width="30px" />
                                            <p class="m-0">Чат с коллегами</p>
                                        </div>
                                        <img src="{% static 'image/svg/icon-settings.svg' %}" class="me-2" width="25px" />
                                    </div>
                                </div>

                                <div class="card-body p-0 position-relative" style="height: 200px; overflow: hidden;">
                                    <ul class="list-group list-group-flush overflow-auto h-100 w-100" style="max-height: 100%;">
                                        <chat-message v-for="message in messages" :key="message.id" :message="message"></chat-message>
                                    </ul>
                                </div>

                                <div class="card-footer p-2 m-0">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="input-group flex-nowrap">
                                            <img src="{% static 'image/svg/icon-smile.svg' %}" width="27px" class="me-2">
                                            <input v-model="form_message" type="text" class="form-control" placeholder="Напишите что-нибудь..." @keydown.enter="send_message">
                                            <button class="btn btn-sm btn-outline-success mx-2" @click="send_message">Отправить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 col-lg-6 mb-2" >

                            <div class="card card--skeleton animate__animated animate__slideInRight" style="min-height: 500px;">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="{% static 'image/svg/icon-technical-support.svg' %}" class="me-2" width="30px" />
                                            <p class="m-0">Тикеты технической поддержки</p>
                                        </div>
                                            <img src="{% static 'image/svg/icon-settings.svg' %}" class="me-2" width="25px" />
                                    </div>
                                </div>
    
                                <!-- dev proccess -->
                                <div class="dev-msg">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="{% static 'image/svg/icon-programming.svg' %}" class="me-2 mt-2" width="35px" />
                                        <p class="m-0">Находится в разработке</p>
                                    </div>
                                    <p class="small-text-info text-dark">Ожидается в версии 1.3.0</p>
                                </div>
                                <!-- end dev proccess -->
    
                                <div class="card-body p-0 w-100 h-100 blur-card">
                                    <div class="position-relative" style="height: 200px; overflow: hidden;">
                                        <ul class="list-group list-group-flush overflow-auto" style="max-height: 100%;">
                                            <li class="list-group-item border-0 mb-2">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer p-2 m-0 blur-card">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="input-group flex-nowrap">
                                            <img src="{% static 'image/svg/icon-smile.svg' %}" width="27px" class="me-2">
                                            <input type="text" class="form-control" placeholder="Напишите что-нибудь...">
    
                                            <button class="btn btn-sm btn-outline-success mx-2">Отправить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- second section -->
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-sm-12 col-lg-12 mb-2">
                            <div class="card text-start animate__animated animate__slideInLeft " style="min-height: 450px; position: relative;">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="{% static 'image/svg/icon-rating.svg' %}" class="me-2" width="30px" />
                                            <p class="m-0">Рейтинг продаж книг</p>
                                        </div>
                                        <img src="{% static 'image/svg/icon-settings.svg' %}" class="me-2" width="25px" />
                                    </div>
                                </div>
    
                                <!-- dev proccess -->
                                <div class="dev-msg">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="{% static 'image/svg/icon-programming.svg' %}" class="me-2 mt-2" width="35px" />
                                        <p class="m-0">Находится в разработке</p>
                                    </div>
                                    <p class="small-text-info text-dark">Ожидается в версии 1.2.0</p>
                                </div>
                                <!-- end dev proccess -->
    
                                <div class="card-body p-0 position-relative blur-card" style="height: 200px; overflow: hidden;">
                                    
                                    <table class="table table-hover">
                                    </table>
                                </div>
                                <div class="card-footer p-2 m-0 blur-card">
                                    <div class="d-flex justify-content-center align-items-center">
                                        footer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- third section -->
                <div class="container-fluid mb-2">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-sm-12 col-lg-6 mb-2">
                            <div class="card text-start animate__animated animate__slideInLeft" style="min-height: 570px;">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="{% static 'image/svg/icon-money-bag.svg' %}" class="me-2" width="30px" />
                                            <p class="m-0">Общая прибыль</p>
                                        </div>
                                        <img src="{% static 'image/svg/icon-settings.svg' %}" class="me-2" width="25px" />
                                    </div>
                                </div>

                                <!-- dev proccess -->
                                <div class="dev-msg">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="{% static 'image/svg/icon-programming.svg' %}" class="me-2 mt-2" width="35px" />
                                        <p class="m-0">Находится в разработке</p>
                                    </div>
                                    <p class="small-text-info text-dark">Ожидается в версии 1.2.0</p>
                                </div>
                                <!-- end dev proccess -->

                                <div class="card-body p-0 position-relative blur-card" style="height: 200px; overflow: hidden;">
                                    <!-- charts -->
                                </div>
                                <div class="card-footer p-2 m-0 blur-card">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <button class="btn btn-sm btn-outline-secondary me-2">Подробнее</button>
                                        <button class="btn btn-sm btn-outline-primary me-2">Экспортировать в Word</button>
                                        <button class="btn btn-sm btn-outline-success me-2">Экспортировать в Excel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-2">
                            <div class="card text-start animate__animated animate__slideInRight" style="min-height: 570px;">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="{% static 'image/svg/icon-income-salary.svg' %}" class="me-2" width="30px" />
                                            <p class="m-0">Доход от продаж</p>
                                        </div>
                                        <img src="{% static 'image/svg/icon-settings.svg' %}" class="me-2" width="25px" />
                                    </div>
                                </div>

                                 <!-- dev proccess -->
                                <div class="dev-msg">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="{% static 'image/svg/icon-programming.svg' %}" class="me-2 mt-2" width="35px" />
                                        <p class="m-0">Находится в разработке</p>
                                    </div>
                                    <p class="small-text-info text-dark">Ожидается в версии 1.2.0</p>
                                </div>
                                <!-- end dev proccess -->

                                <div class="card-body p-0 position-relative blur-card" style="height: 200px; overflow: hidden;">
                                    <!-- charts -->
                                </div>
                                <div class="card-footer p-2 m-0 blur-card">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <button class="btn btn-sm btn-outline-secondary me-2">Подробнее</button>
                                        <button class="btn btn-sm btn-outline-primary me-2">Экспортировать в Word</button>
                                        <button class="btn btn-sm btn-outline-success me-2">Экспортировать в Excel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/main_app_vue.js' %}"></script>
{% endblock scripts %}