{% extends "main_app/base/base_main.html" %}

{% load static %}

{% block title %}Dashboard - Admin - EVO{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main_css.css' %}">
{% endblock css %}

{% block content %}
{% csrf_token %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center mt-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="Главная страница" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-home.svg' %}" width="30px"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="аа" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-home.svg' %}" width="30px"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="аа" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-home.svg' %}" width="30px"/>
                        </a>
                    </li>

                    <div class="dropdown-divider-horizontal"></div>

                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="Мониторинг серверов" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-server.svg' %}" width="30px"/>
                        </a>
                    </li>

                    <div class="dropdown-divider-horizontal"></div>

                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="Настройки" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-settings.svg' %}" width="30px"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link py-3 px-2" title="Выйти из аккаунта" data-bs-toggle="tooltip" data-bs-placement="right">
                            <img src="{% static 'image/svg/icon-exit.svg' %}" width="30px"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm p-0 min-vh-100">

            <!-- header main -->
            <div class="container-fluid shadow shadow-sm p-1  main-title">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-start align-items-center mx-4">
                            <img src="{% static 'image/svg/icon-plain.svg' %}" width="55px" />
                            <div class="text-start mx-3 mt-3">
                                <h5 class="mt-0 mb-0">Аналитическая панель мониторинга</h5>
                                <p class="text-muted">Данная панель поможет Вам следить за ключевыми метриками и тенденциями вашего бизнеса</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <main class="mt-4">
            </main>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/main_app_vue.js' %}"></script>
{% endblock scripts %}