body {
    background-color: #eee;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25); 
}

.rounded-avatar {
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 50%;
}

.message-container {
    max-width: calc(100% - 50px); /* Максимальная ширина текстового контейнера */
}

.nav-brand-text {
    color: black;
    font-size: 22px;
}

.nav-brand-text:hover {
    color: black;
}

.vertical-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
}

.chat-box-left {
    position: relative;
    text-align: left;
    background: #e0e0e0;
    opacity: 1;
    border: 0;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    border-top-left-radius: 0.25rem;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
    word-break: break-word;
}

.chat-box-right {
    position: relative;
    opacity: 1;
    background: #e0f3ff;
    border: 0;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    border-top-right-radius: 0.25rem;
    max-width: 70%;
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
}

textarea {
    resize: none; /* Убираем возможность изменения размера textarea пользователем */
}

.online-marker {
    position: absolute;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(58, 196, 125); 
}

.custom-dropdown {
    position: relative;
}
  
.custom-dropdown .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
}

@media (max-width: 575.98px) {
    .main-title {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .col-12 {
        display: flex;
        justify-content: center;
    }
}
