{% extends "authentication_app/base/base_auth.html" %}

{% load static %}

{% block title %}Авторизация в системе EVO{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css\auth_css.css' %}">
{% endblock css %}

{% block content %}
{% csrf_token %}

<section>
    <!-- header -->
    <div class="container mb-4 mt-4 animate__animated animate__pulse">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{% static 'image/svg/logo-evo-none-text.svg' %}" width="110px">
            </div>
        </div>
    </div>

    <!-- main -->
    <div id="auth-app" class="animate__animated animate__bounceInLeft">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-8 col-sm-8 col-md-6 col-lg-4 col-xl-3 col-xxl-3 text-center">
                    <h4 class="mb-3 animate__animated animate__pulse">Авторизация в EVO</h4>

                    <flash-card v-show="show_flash_card" :message="flash_card_message"></flash-card>

                    <div class="card rounded-3" style="background-color: rgb(247, 247, 247);">
                        <div class="container mt-3 mb-3">
                                <div class="text-start small mb-3">
                                    <label class="form-label">Ваш логин</label>
                                    <input v-model="username" type="login" class="form-control" placeholder="Введите Ваш логин" />
                                </div>
                                <div class="text-start small mb-4">
                                    <label class="form-label">Ваш пароль</label>

                                    <a href="{% url 'reset_password' %}" class="label-link">Забыли пароль?</a>
                                    <input v-model="password" type="password" id="username-input" class="form-control" placeholder="Введите Ваш пароль" />
                                </div>
        
                                <div class="text-center small">
                                    <button class="btn custom-button" @click="auth_user" v-show="show_auth_button">Авторизоваться</button>
                                    <div class="spinner-border" v-show="show_span_loader"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container mt-4">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 small">
                <ul class="list-style-none d-flex justify-content-center align-items-center">
                    <li> <a href="!#" class="custom-a mx-2"> Terms </a> </li>
                    <li> <a href="!#" class="custom-a mx-2"> Private Policy </a> </li>
                    <li> <a href="!#" class="custom-a mx-2"> Manage Cookies </a> </li>
                    <li> <a href="!#" class="custom-a mx-2"> EVO Support </a> </li>
                    <li> <a href="!#" class="custom-a mx-2"> Docs </a> </li>
                    <li> <a href="!#" class="custom-a mx-2"> API </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/auth_app_vue.js' %}"></script>
{% endblock scripts %}