{% extends "authentication_app/base/base_auth.html" %}

{% load static %}

{% block title %}Авторизация в системе EVO{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css\auth_css.css' %}">
{% endblock css %}

{% block content %}
{% csrf_token %}

<section>

<!-- header -->
<div class="container mb-4 mt-4 animate__animated animate__pulse">
    <div class="row">
        <div class="col-12 text-center">
            <img src="{% static 'image/svg/logo-evo-none-text.svg' %}" width="110px">
        </div>
    </div>
</div>

<!-- main -->
<div id="reset-password-app">
    <div class="container animate__animated animate__bounceInLeft">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8 col-sm-8 col-md-6 col-lg-4 col-xl-3 col-xxl-3 text-center">
                <h4 class="mb-3 animate__animated animate__pulse">Восстановление пароля</h4>

                <flash-card v-if="is_visible_flash_card" v-bind:message="flash_card_message"></flash-card>
    
                <div class="card rounded-3" style="background-color: rgb(247, 247, 247);">
                    <div class="container mt-3 mb-3">
                            <div class="text-start small mb-3">
                                <label class="form-label">Введите Ваш Email, чтобы восстановить доступ к аккаунту</label>
                                <input v-model="email" type="email" class="form-control" placeholder="Введите Ваш Email" />
                            </div>
    
                            <div class="text-center small d-flex justify-content-center align-items-center">
                                <button @click="reset_password" v-show="is_visible_reset_button" class="btn custom-button me-2">Сбросить пароль</button>
                                <div class="spinner-border" v-show="is_visible_loader"></div>

                                <a href="{% url 'auth_page' %}" data-bs-toggle="tooltip" data-bs-title="Авторизация">
                                    <img src="{% static 'image/svg/icon-back-step.svg' %}" width="25px">
                                </a>
                            </div>
                    </div>
                </div>
                <div class="card rounded-3 bg-transparent mt-4 p-2">
                    <div class="text-center small mt-0 mb-0">
                        Недавно узнали об EVO? <a href="{% url 'registr_page' %}" class="">Создать новый аккаунт</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div class="container mt-4">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 small">
            <ul class="list-style-none d-flex justify-content-center align-items-center">
                <li> <a href="!#" class="custom-a mx-2"> Terms </a> </li>
                <li> <a href="!#" class="custom-a mx-2"> Private Policy </a> </li>
                <li> <a href="!#" class="custom-a mx-2"> Manage Cookies </a> </li>
                <li> <a href="!#" class="custom-a mx-2"> EVO Support </a> </li>
                <li> <a href="!#" class="custom-a mx-2"> Docs </a> </li>
                <li> <a href="!#" class="custom-a mx-2"> API </a> </li>
            </ul>
        </div>
    </div>
</div>

</section>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/reset_password_vue.js' %}"></script>
{% endblock scripts %}